<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzq.dao.ecsUsersMapper">
  <resultMap id="BaseResultMap" type="com.tzq.model.ecsUsers">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="vip" jdbcType="VARCHAR" property="vip" />
    <result column="lx" jdbcType="INTEGER" property="lx" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
    <result column="grad_school" jdbcType="VARCHAR" property="gradSchool" />
    <result column="entry_year" jdbcType="VARCHAR" property="entryYear" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="resident_province" jdbcType="VARCHAR" property="residentProvince" />
    <result column="country" jdbcType="SMALLINT" property="country" />
    <result column="resident_county" jdbcType="VARCHAR" property="residentCounty" />
    <result column="resident_city" jdbcType="VARCHAR" property="residentCity" />
    <result column="languages" jdbcType="VARCHAR" property="languages" />
    <result column="fee_xl" jdbcType="DECIMAL" property="feeXl" />
    <result column="fee_fdfy" jdbcType="DECIMAL" property="feeFdfy" />
    <result column="certificate" jdbcType="VARCHAR" property="certificate" />
    <result column="personal_style" jdbcType="VARCHAR" property="personalStyle" />
    <result column="handsome_photo" jdbcType="VARCHAR" property="handsomePhoto" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="user_money" jdbcType="DECIMAL" property="userMoney" />
    <result column="frozen_money" jdbcType="DECIMAL" property="frozenMoney" />
    <result column="pay_points" jdbcType="INTEGER" property="payPoints" />
    <result column="rank_points" jdbcType="INTEGER" property="rankPoints" />
    <result column="address_id" jdbcType="INTEGER" property="addressId" />
    <result column="reg_time" jdbcType="INTEGER" property="regTime" />
    <result column="last_login" jdbcType="INTEGER" property="lastLogin" />
    <result column="last_time" jdbcType="INTEGER" property="lastTime" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="new_last_ip" jdbcType="VARCHAR" property="newLastIp" />
    <result column="old_last_ip" jdbcType="VARCHAR" property="oldLastIp" />
    <result column="visit_count" jdbcType="SMALLINT" property="visitCount" />
    <result column="user_rank" jdbcType="TINYINT" property="userRank" />
    <result column="is_special" jdbcType="TINYINT" property="isSpecial" />
    <result column="ec_salt" jdbcType="VARCHAR" property="ecSalt" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="flag" jdbcType="TINYINT" property="flag" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="msn" jdbcType="VARCHAR" property="msn" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="office_phone" jdbcType="VARCHAR" property="officePhone" />
    <result column="home_phone" jdbcType="VARCHAR" property="homePhone" />
    <result column="mobile_phone" jdbcType="VARCHAR" property="mobilePhone" />
    <result column="is_validated" jdbcType="TINYINT" property="isValidated" />
    <result column="credit_line" jdbcType="DECIMAL" property="creditLine" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="company_short_name" jdbcType="VARCHAR" property="companyShortName" />
    <result column="registered_province" jdbcType="VARCHAR" property="registeredProvince" />
    <result column="registered_county" jdbcType="VARCHAR" property="registeredCounty" />
    <result column="registered_city" jdbcType="VARCHAR" property="registeredCity" />
    <result column="postal_address" jdbcType="VARCHAR" property="postalAddress" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="keywords1" jdbcType="VARCHAR" property="keywords1" />
    <result column="star" jdbcType="VARCHAR" property="star" />
    <result column="maximum_occupancy" jdbcType="VARCHAR" property="maximumOccupancy" />
    <result column="kedaodajingqu_30m" jdbcType="VARCHAR" property="kedaodajingqu30m" />
    <result column="maximum_meeting" jdbcType="VARCHAR" property="maximumMeeting" />
    <result column="maximum_restaurant" jdbcType="VARCHAR" property="maximumRestaurant" />
    <result column="business_licence" jdbcType="VARCHAR" property="businessLicence" />
    <result column="photography_expenses" jdbcType="VARCHAR" property="photographyExpenses" />
    <result column="On_display" jdbcType="VARCHAR" property="onDisplay" />
    <result column="camera_cost" jdbcType="VARCHAR" property="cameraCost" />
    <result column="contacter" jdbcType="VARCHAR" property="contacter" />
    <result column="call1" jdbcType="VARCHAR" property="call1" />
    <result column="passwd_question" jdbcType="VARCHAR" property="passwdQuestion" />
    <result column="passwd_answer" jdbcType="VARCHAR" property="passwdAnswer" />
    <result column="wxid" jdbcType="CHAR" property="wxid" />
    <result column="wxch_bd" jdbcType="CHAR" property="wxchBd" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="style" jdbcType="VARCHAR" property="style" />
    <result column="null_pwd" jdbcType="INTEGER" property="nullPwd" />
    <result column="shipping_id" jdbcType="INTEGER" property="shippingId" />
    <result column="user_sign_qiandao" jdbcType="INTEGER" property="userSignQiandao" />
    <result column="edit_name" jdbcType="INTEGER" property="editName" />
    <result column="back_id" jdbcType="INTEGER" property="backId" />
    <result column="second_pass" jdbcType="CHAR" property="secondPass" />
    <result column="user_nav_act" jdbcType="VARCHAR" property="userNavAct" />
    <result column="start_password" jdbcType="VARCHAR" property="startPassword" />
    <result column="froms" jdbcType="VARCHAR" property="froms" />
    <result column="z_name" jdbcType="VARCHAR" property="zName" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.tzq.model.ecsUsersWithBLOBs">
    <result column="aite_id" jdbcType="LONGVARCHAR" property="aiteId" />
    <result column="aite_id_wb" jdbcType="LONGVARCHAR" property="aiteIdWb" />
    <result column="aite_id_al" jdbcType="LONGVARCHAR" property="aiteIdAl" />
    <result column="aite_id_rr" jdbcType="LONGVARCHAR" property="aiteIdRr" />
    <result column="main_instruction" jdbcType="LONGVARCHAR" property="mainInstruction" />
    <result column="other_instructions" jdbcType="LONGVARCHAR" property="otherInstructions" />
    <result column="best_time" jdbcType="LONGVARCHAR" property="bestTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, vip, lx, idcard, grad_school, entry_year, teacher, resident_province, country, 
    resident_county, resident_city, languages, fee_xl, fee_fdfy, certificate, personal_style, 
    handsome_photo, email, user_name, password, question, answer, sex, age, birthday, 
    user_money, frozen_money, pay_points, rank_points, address_id, reg_time, last_login, 
    last_time, last_ip, new_last_ip, old_last_ip, visit_count, user_rank, is_special, 
    ec_salt, salt, parent_id, flag, alias, msn, qq, office_phone, home_phone, mobile_phone, 
    is_validated, credit_line, company_name, company_short_name, registered_province, 
    registered_county, registered_city, postal_address, logo, keywords1, star, maximum_occupancy, 
    kedaodajingqu_30m, maximum_meeting, maximum_restaurant, business_licence, photography_expenses, 
    On_display, camera_cost, contacter, call1, passwd_question, passwd_answer, wxid, 
    wxch_bd, photo, style, null_pwd, shipping_id, user_sign_qiandao, edit_name, back_id, 
    second_pass, user_nav_act, start_password, froms, z_name
  </sql>
  <sql id="Blob_Column_List">
    aite_id, aite_id_wb, aite_id_al, aite_id_rr, main_instruction, other_instructions, 
    best_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ecs_users
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ecs_users
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tzq.model.ecsUsersWithBLOBs">
    insert into ecs_users (user_id, vip, lx, 
      idcard, grad_school, entry_year, 
      teacher, resident_province, country, 
      resident_county, resident_city, languages, 
      fee_xl, fee_fdfy, certificate, 
      personal_style, handsome_photo, email, 
      user_name, password, question, 
      answer, sex, age, birthday, 
      user_money, frozen_money, pay_points, 
      rank_points, address_id, reg_time, 
      last_login, last_time, last_ip, 
      new_last_ip, old_last_ip, visit_count, 
      user_rank, is_special, ec_salt, 
      salt, parent_id, flag, 
      alias, msn, qq, office_phone, 
      home_phone, mobile_phone, is_validated, 
      credit_line, company_name, company_short_name, 
      registered_province, registered_county, registered_city, 
      postal_address, logo, keywords1, 
      star, maximum_occupancy, kedaodajingqu_30m, 
      maximum_meeting, maximum_restaurant, business_licence, 
      photography_expenses, On_display, camera_cost, 
      contacter, call1, passwd_question, 
      passwd_answer, wxid, wxch_bd, 
      photo, style, null_pwd, 
      shipping_id, user_sign_qiandao, edit_name, 
      back_id, second_pass, user_nav_act, 
      start_password, froms, z_name, 
      aite_id, aite_id_wb, aite_id_al, 
      aite_id_rr, main_instruction, other_instructions, 
      best_time)
    values (#{userId,jdbcType=INTEGER}, #{vip,jdbcType=VARCHAR}, #{lx,jdbcType=INTEGER}, 
      #{idcard,jdbcType=VARCHAR}, #{gradSchool,jdbcType=VARCHAR}, #{entryYear,jdbcType=VARCHAR}, 
      #{teacher,jdbcType=VARCHAR}, #{residentProvince,jdbcType=VARCHAR}, #{country,jdbcType=SMALLINT}, 
      #{residentCounty,jdbcType=VARCHAR}, #{residentCity,jdbcType=VARCHAR}, #{languages,jdbcType=VARCHAR}, 
      #{feeXl,jdbcType=DECIMAL}, #{feeFdfy,jdbcType=DECIMAL}, #{certificate,jdbcType=VARCHAR}, 
      #{personalStyle,jdbcType=VARCHAR}, #{handsomePhoto,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{question,jdbcType=VARCHAR}, 
      #{answer,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{age,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, 
      #{userMoney,jdbcType=DECIMAL}, #{frozenMoney,jdbcType=DECIMAL}, #{payPoints,jdbcType=INTEGER}, 
      #{rankPoints,jdbcType=INTEGER}, #{addressId,jdbcType=INTEGER}, #{regTime,jdbcType=INTEGER}, 
      #{lastLogin,jdbcType=INTEGER}, #{lastTime,jdbcType=INTEGER}, #{lastIp,jdbcType=VARCHAR}, 
      #{newLastIp,jdbcType=VARCHAR}, #{oldLastIp,jdbcType=VARCHAR}, #{visitCount,jdbcType=SMALLINT}, 
      #{userRank,jdbcType=TINYINT}, #{isSpecial,jdbcType=TINYINT}, #{ecSalt,jdbcType=VARCHAR}, 
      #{salt,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{flag,jdbcType=TINYINT}, 
      #{alias,jdbcType=VARCHAR}, #{msn,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{officePhone,jdbcType=VARCHAR}, 
      #{homePhone,jdbcType=VARCHAR}, #{mobilePhone,jdbcType=VARCHAR}, #{isValidated,jdbcType=TINYINT}, 
      #{creditLine,jdbcType=DECIMAL}, #{companyName,jdbcType=VARCHAR}, #{companyShortName,jdbcType=VARCHAR}, 
      #{registeredProvince,jdbcType=VARCHAR}, #{registeredCounty,jdbcType=VARCHAR}, #{registeredCity,jdbcType=VARCHAR}, 
      #{postalAddress,jdbcType=VARCHAR}, #{logo,jdbcType=VARCHAR}, #{keywords1,jdbcType=VARCHAR}, 
      #{star,jdbcType=VARCHAR}, #{maximumOccupancy,jdbcType=VARCHAR}, #{kedaodajingqu30m,jdbcType=VARCHAR}, 
      #{maximumMeeting,jdbcType=VARCHAR}, #{maximumRestaurant,jdbcType=VARCHAR}, #{businessLicence,jdbcType=VARCHAR}, 
      #{photographyExpenses,jdbcType=VARCHAR}, #{onDisplay,jdbcType=VARCHAR}, #{cameraCost,jdbcType=VARCHAR}, 
      #{contacter,jdbcType=VARCHAR}, #{call1,jdbcType=VARCHAR}, #{passwdQuestion,jdbcType=VARCHAR}, 
      #{passwdAnswer,jdbcType=VARCHAR}, #{wxid,jdbcType=CHAR}, #{wxchBd,jdbcType=CHAR}, 
      #{photo,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, #{nullPwd,jdbcType=INTEGER}, 
      #{shippingId,jdbcType=INTEGER}, #{userSignQiandao,jdbcType=INTEGER}, #{editName,jdbcType=INTEGER}, 
      #{backId,jdbcType=INTEGER}, #{secondPass,jdbcType=CHAR}, #{userNavAct,jdbcType=VARCHAR}, 
      #{startPassword,jdbcType=VARCHAR}, #{froms,jdbcType=VARCHAR}, #{zName,jdbcType=VARCHAR}, 
      #{aiteId,jdbcType=LONGVARCHAR}, #{aiteIdWb,jdbcType=LONGVARCHAR}, #{aiteIdAl,jdbcType=LONGVARCHAR}, 
      #{aiteIdRr,jdbcType=LONGVARCHAR}, #{mainInstruction,jdbcType=LONGVARCHAR}, #{otherInstructions,jdbcType=LONGVARCHAR}, 
      #{bestTime,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tzq.model.ecsUsersWithBLOBs">
    insert into ecs_users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="vip != null">
        vip,
      </if>
      <if test="lx != null">
        lx,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
      <if test="gradSchool != null">
        grad_school,
      </if>
      <if test="entryYear != null">
        entry_year,
      </if>
      <if test="teacher != null">
        teacher,
      </if>
      <if test="residentProvince != null">
        resident_province,
      </if>
      <if test="country != null">
        country,
      </if>
      <if test="residentCounty != null">
        resident_county,
      </if>
      <if test="residentCity != null">
        resident_city,
      </if>
      <if test="languages != null">
        languages,
      </if>
      <if test="feeXl != null">
        fee_xl,
      </if>
      <if test="feeFdfy != null">
        fee_fdfy,
      </if>
      <if test="certificate != null">
        certificate,
      </if>
      <if test="personalStyle != null">
        personal_style,
      </if>
      <if test="handsomePhoto != null">
        handsome_photo,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="userMoney != null">
        user_money,
      </if>
      <if test="frozenMoney != null">
        frozen_money,
      </if>
      <if test="payPoints != null">
        pay_points,
      </if>
      <if test="rankPoints != null">
        rank_points,
      </if>
      <if test="addressId != null">
        address_id,
      </if>
      <if test="regTime != null">
        reg_time,
      </if>
      <if test="lastLogin != null">
        last_login,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="lastIp != null">
        last_ip,
      </if>
      <if test="newLastIp != null">
        new_last_ip,
      </if>
      <if test="oldLastIp != null">
        old_last_ip,
      </if>
      <if test="visitCount != null">
        visit_count,
      </if>
      <if test="userRank != null">
        user_rank,
      </if>
      <if test="isSpecial != null">
        is_special,
      </if>
      <if test="ecSalt != null">
        ec_salt,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="msn != null">
        msn,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="officePhone != null">
        office_phone,
      </if>
      <if test="homePhone != null">
        home_phone,
      </if>
      <if test="mobilePhone != null">
        mobile_phone,
      </if>
      <if test="isValidated != null">
        is_validated,
      </if>
      <if test="creditLine != null">
        credit_line,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="companyShortName != null">
        company_short_name,
      </if>
      <if test="registeredProvince != null">
        registered_province,
      </if>
      <if test="registeredCounty != null">
        registered_county,
      </if>
      <if test="registeredCity != null">
        registered_city,
      </if>
      <if test="postalAddress != null">
        postal_address,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="keywords1 != null">
        keywords1,
      </if>
      <if test="star != null">
        star,
      </if>
      <if test="maximumOccupancy != null">
        maximum_occupancy,
      </if>
      <if test="kedaodajingqu30m != null">
        kedaodajingqu_30m,
      </if>
      <if test="maximumMeeting != null">
        maximum_meeting,
      </if>
      <if test="maximumRestaurant != null">
        maximum_restaurant,
      </if>
      <if test="businessLicence != null">
        business_licence,
      </if>
      <if test="photographyExpenses != null">
        photography_expenses,
      </if>
      <if test="onDisplay != null">
        On_display,
      </if>
      <if test="cameraCost != null">
        camera_cost,
      </if>
      <if test="contacter != null">
        contacter,
      </if>
      <if test="call1 != null">
        call1,
      </if>
      <if test="passwdQuestion != null">
        passwd_question,
      </if>
      <if test="passwdAnswer != null">
        passwd_answer,
      </if>
      <if test="wxid != null">
        wxid,
      </if>
      <if test="wxchBd != null">
        wxch_bd,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="style != null">
        style,
      </if>
      <if test="nullPwd != null">
        null_pwd,
      </if>
      <if test="shippingId != null">
        shipping_id,
      </if>
      <if test="userSignQiandao != null">
        user_sign_qiandao,
      </if>
      <if test="editName != null">
        edit_name,
      </if>
      <if test="backId != null">
        back_id,
      </if>
      <if test="secondPass != null">
        second_pass,
      </if>
      <if test="userNavAct != null">
        user_nav_act,
      </if>
      <if test="startPassword != null">
        start_password,
      </if>
      <if test="froms != null">
        froms,
      </if>
      <if test="zName != null">
        z_name,
      </if>
      <if test="aiteId != null">
        aite_id,
      </if>
      <if test="aiteIdWb != null">
        aite_id_wb,
      </if>
      <if test="aiteIdAl != null">
        aite_id_al,
      </if>
      <if test="aiteIdRr != null">
        aite_id_rr,
      </if>
      <if test="mainInstruction != null">
        main_instruction,
      </if>
      <if test="otherInstructions != null">
        other_instructions,
      </if>
      <if test="bestTime != null">
        best_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="vip != null">
        #{vip,jdbcType=VARCHAR},
      </if>
      <if test="lx != null">
        #{lx,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gradSchool != null">
        #{gradSchool,jdbcType=VARCHAR},
      </if>
      <if test="entryYear != null">
        #{entryYear,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="residentProvince != null">
        #{residentProvince,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        #{country,jdbcType=SMALLINT},
      </if>
      <if test="residentCounty != null">
        #{residentCounty,jdbcType=VARCHAR},
      </if>
      <if test="residentCity != null">
        #{residentCity,jdbcType=VARCHAR},
      </if>
      <if test="languages != null">
        #{languages,jdbcType=VARCHAR},
      </if>
      <if test="feeXl != null">
        #{feeXl,jdbcType=DECIMAL},
      </if>
      <if test="feeFdfy != null">
        #{feeFdfy,jdbcType=DECIMAL},
      </if>
      <if test="certificate != null">
        #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="personalStyle != null">
        #{personalStyle,jdbcType=VARCHAR},
      </if>
      <if test="handsomePhoto != null">
        #{handsomePhoto,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="userMoney != null">
        #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null">
        #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="payPoints != null">
        #{payPoints,jdbcType=INTEGER},
      </if>
      <if test="rankPoints != null">
        #{rankPoints,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        #{addressId,jdbcType=INTEGER},
      </if>
      <if test="regTime != null">
        #{regTime,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null">
        #{lastLogin,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="lastIp != null">
        #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="newLastIp != null">
        #{newLastIp,jdbcType=VARCHAR},
      </if>
      <if test="oldLastIp != null">
        #{oldLastIp,jdbcType=VARCHAR},
      </if>
      <if test="visitCount != null">
        #{visitCount,jdbcType=SMALLINT},
      </if>
      <if test="userRank != null">
        #{userRank,jdbcType=TINYINT},
      </if>
      <if test="isSpecial != null">
        #{isSpecial,jdbcType=TINYINT},
      </if>
      <if test="ecSalt != null">
        #{ecSalt,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=TINYINT},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="msn != null">
        #{msn,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null">
        #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="isValidated != null">
        #{isValidated,jdbcType=TINYINT},
      </if>
      <if test="creditLine != null">
        #{creditLine,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null">
        #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="registeredProvince != null">
        #{registeredProvince,jdbcType=VARCHAR},
      </if>
      <if test="registeredCounty != null">
        #{registeredCounty,jdbcType=VARCHAR},
      </if>
      <if test="registeredCity != null">
        #{registeredCity,jdbcType=VARCHAR},
      </if>
      <if test="postalAddress != null">
        #{postalAddress,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="keywords1 != null">
        #{keywords1,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        #{star,jdbcType=VARCHAR},
      </if>
      <if test="maximumOccupancy != null">
        #{maximumOccupancy,jdbcType=VARCHAR},
      </if>
      <if test="kedaodajingqu30m != null">
        #{kedaodajingqu30m,jdbcType=VARCHAR},
      </if>
      <if test="maximumMeeting != null">
        #{maximumMeeting,jdbcType=VARCHAR},
      </if>
      <if test="maximumRestaurant != null">
        #{maximumRestaurant,jdbcType=VARCHAR},
      </if>
      <if test="businessLicence != null">
        #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="photographyExpenses != null">
        #{photographyExpenses,jdbcType=VARCHAR},
      </if>
      <if test="onDisplay != null">
        #{onDisplay,jdbcType=VARCHAR},
      </if>
      <if test="cameraCost != null">
        #{cameraCost,jdbcType=VARCHAR},
      </if>
      <if test="contacter != null">
        #{contacter,jdbcType=VARCHAR},
      </if>
      <if test="call1 != null">
        #{call1,jdbcType=VARCHAR},
      </if>
      <if test="passwdQuestion != null">
        #{passwdQuestion,jdbcType=VARCHAR},
      </if>
      <if test="passwdAnswer != null">
        #{passwdAnswer,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        #{wxid,jdbcType=CHAR},
      </if>
      <if test="wxchBd != null">
        #{wxchBd,jdbcType=CHAR},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="nullPwd != null">
        #{nullPwd,jdbcType=INTEGER},
      </if>
      <if test="shippingId != null">
        #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="userSignQiandao != null">
        #{userSignQiandao,jdbcType=INTEGER},
      </if>
      <if test="editName != null">
        #{editName,jdbcType=INTEGER},
      </if>
      <if test="backId != null">
        #{backId,jdbcType=INTEGER},
      </if>
      <if test="secondPass != null">
        #{secondPass,jdbcType=CHAR},
      </if>
      <if test="userNavAct != null">
        #{userNavAct,jdbcType=VARCHAR},
      </if>
      <if test="startPassword != null">
        #{startPassword,jdbcType=VARCHAR},
      </if>
      <if test="froms != null">
        #{froms,jdbcType=VARCHAR},
      </if>
      <if test="zName != null">
        #{zName,jdbcType=VARCHAR},
      </if>
      <if test="aiteId != null">
        #{aiteId,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdWb != null">
        #{aiteIdWb,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdAl != null">
        #{aiteIdAl,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdRr != null">
        #{aiteIdRr,jdbcType=LONGVARCHAR},
      </if>
      <if test="mainInstruction != null">
        #{mainInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInstructions != null">
        #{otherInstructions,jdbcType=LONGVARCHAR},
      </if>
      <if test="bestTime != null">
        #{bestTime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tzq.model.ecsUsersWithBLOBs">
    update ecs_users
    <set>
      <if test="vip != null">
        vip = #{vip,jdbcType=VARCHAR},
      </if>
      <if test="lx != null">
        lx = #{lx,jdbcType=INTEGER},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="gradSchool != null">
        grad_school = #{gradSchool,jdbcType=VARCHAR},
      </if>
      <if test="entryYear != null">
        entry_year = #{entryYear,jdbcType=VARCHAR},
      </if>
      <if test="teacher != null">
        teacher = #{teacher,jdbcType=VARCHAR},
      </if>
      <if test="residentProvince != null">
        resident_province = #{residentProvince,jdbcType=VARCHAR},
      </if>
      <if test="country != null">
        country = #{country,jdbcType=SMALLINT},
      </if>
      <if test="residentCounty != null">
        resident_county = #{residentCounty,jdbcType=VARCHAR},
      </if>
      <if test="residentCity != null">
        resident_city = #{residentCity,jdbcType=VARCHAR},
      </if>
      <if test="languages != null">
        languages = #{languages,jdbcType=VARCHAR},
      </if>
      <if test="feeXl != null">
        fee_xl = #{feeXl,jdbcType=DECIMAL},
      </if>
      <if test="feeFdfy != null">
        fee_fdfy = #{feeFdfy,jdbcType=DECIMAL},
      </if>
      <if test="certificate != null">
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="personalStyle != null">
        personal_style = #{personalStyle,jdbcType=VARCHAR},
      </if>
      <if test="handsomePhoto != null">
        handsome_photo = #{handsomePhoto,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="userMoney != null">
        user_money = #{userMoney,jdbcType=DECIMAL},
      </if>
      <if test="frozenMoney != null">
        frozen_money = #{frozenMoney,jdbcType=DECIMAL},
      </if>
      <if test="payPoints != null">
        pay_points = #{payPoints,jdbcType=INTEGER},
      </if>
      <if test="rankPoints != null">
        rank_points = #{rankPoints,jdbcType=INTEGER},
      </if>
      <if test="addressId != null">
        address_id = #{addressId,jdbcType=INTEGER},
      </if>
      <if test="regTime != null">
        reg_time = #{regTime,jdbcType=INTEGER},
      </if>
      <if test="lastLogin != null">
        last_login = #{lastLogin,jdbcType=INTEGER},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=INTEGER},
      </if>
      <if test="lastIp != null">
        last_ip = #{lastIp,jdbcType=VARCHAR},
      </if>
      <if test="newLastIp != null">
        new_last_ip = #{newLastIp,jdbcType=VARCHAR},
      </if>
      <if test="oldLastIp != null">
        old_last_ip = #{oldLastIp,jdbcType=VARCHAR},
      </if>
      <if test="visitCount != null">
        visit_count = #{visitCount,jdbcType=SMALLINT},
      </if>
      <if test="userRank != null">
        user_rank = #{userRank,jdbcType=TINYINT},
      </if>
      <if test="isSpecial != null">
        is_special = #{isSpecial,jdbcType=TINYINT},
      </if>
      <if test="ecSalt != null">
        ec_salt = #{ecSalt,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=TINYINT},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="msn != null">
        msn = #{msn,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="officePhone != null">
        office_phone = #{officePhone,jdbcType=VARCHAR},
      </if>
      <if test="homePhone != null">
        home_phone = #{homePhone,jdbcType=VARCHAR},
      </if>
      <if test="mobilePhone != null">
        mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      </if>
      <if test="isValidated != null">
        is_validated = #{isValidated,jdbcType=TINYINT},
      </if>
      <if test="creditLine != null">
        credit_line = #{creditLine,jdbcType=DECIMAL},
      </if>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyShortName != null">
        company_short_name = #{companyShortName,jdbcType=VARCHAR},
      </if>
      <if test="registeredProvince != null">
        registered_province = #{registeredProvince,jdbcType=VARCHAR},
      </if>
      <if test="registeredCounty != null">
        registered_county = #{registeredCounty,jdbcType=VARCHAR},
      </if>
      <if test="registeredCity != null">
        registered_city = #{registeredCity,jdbcType=VARCHAR},
      </if>
      <if test="postalAddress != null">
        postal_address = #{postalAddress,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="keywords1 != null">
        keywords1 = #{keywords1,jdbcType=VARCHAR},
      </if>
      <if test="star != null">
        star = #{star,jdbcType=VARCHAR},
      </if>
      <if test="maximumOccupancy != null">
        maximum_occupancy = #{maximumOccupancy,jdbcType=VARCHAR},
      </if>
      <if test="kedaodajingqu30m != null">
        kedaodajingqu_30m = #{kedaodajingqu30m,jdbcType=VARCHAR},
      </if>
      <if test="maximumMeeting != null">
        maximum_meeting = #{maximumMeeting,jdbcType=VARCHAR},
      </if>
      <if test="maximumRestaurant != null">
        maximum_restaurant = #{maximumRestaurant,jdbcType=VARCHAR},
      </if>
      <if test="businessLicence != null">
        business_licence = #{businessLicence,jdbcType=VARCHAR},
      </if>
      <if test="photographyExpenses != null">
        photography_expenses = #{photographyExpenses,jdbcType=VARCHAR},
      </if>
      <if test="onDisplay != null">
        On_display = #{onDisplay,jdbcType=VARCHAR},
      </if>
      <if test="cameraCost != null">
        camera_cost = #{cameraCost,jdbcType=VARCHAR},
      </if>
      <if test="contacter != null">
        contacter = #{contacter,jdbcType=VARCHAR},
      </if>
      <if test="call1 != null">
        call1 = #{call1,jdbcType=VARCHAR},
      </if>
      <if test="passwdQuestion != null">
        passwd_question = #{passwdQuestion,jdbcType=VARCHAR},
      </if>
      <if test="passwdAnswer != null">
        passwd_answer = #{passwdAnswer,jdbcType=VARCHAR},
      </if>
      <if test="wxid != null">
        wxid = #{wxid,jdbcType=CHAR},
      </if>
      <if test="wxchBd != null">
        wxch_bd = #{wxchBd,jdbcType=CHAR},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="style != null">
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="nullPwd != null">
        null_pwd = #{nullPwd,jdbcType=INTEGER},
      </if>
      <if test="shippingId != null">
        shipping_id = #{shippingId,jdbcType=INTEGER},
      </if>
      <if test="userSignQiandao != null">
        user_sign_qiandao = #{userSignQiandao,jdbcType=INTEGER},
      </if>
      <if test="editName != null">
        edit_name = #{editName,jdbcType=INTEGER},
      </if>
      <if test="backId != null">
        back_id = #{backId,jdbcType=INTEGER},
      </if>
      <if test="secondPass != null">
        second_pass = #{secondPass,jdbcType=CHAR},
      </if>
      <if test="userNavAct != null">
        user_nav_act = #{userNavAct,jdbcType=VARCHAR},
      </if>
      <if test="startPassword != null">
        start_password = #{startPassword,jdbcType=VARCHAR},
      </if>
      <if test="froms != null">
        froms = #{froms,jdbcType=VARCHAR},
      </if>
      <if test="zName != null">
        z_name = #{zName,jdbcType=VARCHAR},
      </if>
      <if test="aiteId != null">
        aite_id = #{aiteId,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdWb != null">
        aite_id_wb = #{aiteIdWb,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdAl != null">
        aite_id_al = #{aiteIdAl,jdbcType=LONGVARCHAR},
      </if>
      <if test="aiteIdRr != null">
        aite_id_rr = #{aiteIdRr,jdbcType=LONGVARCHAR},
      </if>
      <if test="mainInstruction != null">
        main_instruction = #{mainInstruction,jdbcType=LONGVARCHAR},
      </if>
      <if test="otherInstructions != null">
        other_instructions = #{otherInstructions,jdbcType=LONGVARCHAR},
      </if>
      <if test="bestTime != null">
        best_time = #{bestTime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.tzq.model.ecsUsersWithBLOBs">
    update ecs_users
    set vip = #{vip,jdbcType=VARCHAR},
      lx = #{lx,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=VARCHAR},
      grad_school = #{gradSchool,jdbcType=VARCHAR},
      entry_year = #{entryYear,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      resident_province = #{residentProvince,jdbcType=VARCHAR},
      country = #{country,jdbcType=SMALLINT},
      resident_county = #{residentCounty,jdbcType=VARCHAR},
      resident_city = #{residentCity,jdbcType=VARCHAR},
      languages = #{languages,jdbcType=VARCHAR},
      fee_xl = #{feeXl,jdbcType=DECIMAL},
      fee_fdfy = #{feeFdfy,jdbcType=DECIMAL},
      certificate = #{certificate,jdbcType=VARCHAR},
      personal_style = #{personalStyle,jdbcType=VARCHAR},
      handsome_photo = #{handsomePhoto,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      user_money = #{userMoney,jdbcType=DECIMAL},
      frozen_money = #{frozenMoney,jdbcType=DECIMAL},
      pay_points = #{payPoints,jdbcType=INTEGER},
      rank_points = #{rankPoints,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      reg_time = #{regTime,jdbcType=INTEGER},
      last_login = #{lastLogin,jdbcType=INTEGER},
      last_time = #{lastTime,jdbcType=INTEGER},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      new_last_ip = #{newLastIp,jdbcType=VARCHAR},
      old_last_ip = #{oldLastIp,jdbcType=VARCHAR},
      visit_count = #{visitCount,jdbcType=SMALLINT},
      user_rank = #{userRank,jdbcType=TINYINT},
      is_special = #{isSpecial,jdbcType=TINYINT},
      ec_salt = #{ecSalt,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=TINYINT},
      alias = #{alias,jdbcType=VARCHAR},
      msn = #{msn,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      is_validated = #{isValidated,jdbcType=TINYINT},
      credit_line = #{creditLine,jdbcType=DECIMAL},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_short_name = #{companyShortName,jdbcType=VARCHAR},
      registered_province = #{registeredProvince,jdbcType=VARCHAR},
      registered_county = #{registeredCounty,jdbcType=VARCHAR},
      registered_city = #{registeredCity,jdbcType=VARCHAR},
      postal_address = #{postalAddress,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      keywords1 = #{keywords1,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      maximum_occupancy = #{maximumOccupancy,jdbcType=VARCHAR},
      kedaodajingqu_30m = #{kedaodajingqu30m,jdbcType=VARCHAR},
      maximum_meeting = #{maximumMeeting,jdbcType=VARCHAR},
      maximum_restaurant = #{maximumRestaurant,jdbcType=VARCHAR},
      business_licence = #{businessLicence,jdbcType=VARCHAR},
      photography_expenses = #{photographyExpenses,jdbcType=VARCHAR},
      On_display = #{onDisplay,jdbcType=VARCHAR},
      camera_cost = #{cameraCost,jdbcType=VARCHAR},
      contacter = #{contacter,jdbcType=VARCHAR},
      call1 = #{call1,jdbcType=VARCHAR},
      passwd_question = #{passwdQuestion,jdbcType=VARCHAR},
      passwd_answer = #{passwdAnswer,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=CHAR},
      wxch_bd = #{wxchBd,jdbcType=CHAR},
      photo = #{photo,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      null_pwd = #{nullPwd,jdbcType=INTEGER},
      shipping_id = #{shippingId,jdbcType=INTEGER},
      user_sign_qiandao = #{userSignQiandao,jdbcType=INTEGER},
      edit_name = #{editName,jdbcType=INTEGER},
      back_id = #{backId,jdbcType=INTEGER},
      second_pass = #{secondPass,jdbcType=CHAR},
      user_nav_act = #{userNavAct,jdbcType=VARCHAR},
      start_password = #{startPassword,jdbcType=VARCHAR},
      froms = #{froms,jdbcType=VARCHAR},
      z_name = #{zName,jdbcType=VARCHAR},
      aite_id = #{aiteId,jdbcType=LONGVARCHAR},
      aite_id_wb = #{aiteIdWb,jdbcType=LONGVARCHAR},
      aite_id_al = #{aiteIdAl,jdbcType=LONGVARCHAR},
      aite_id_rr = #{aiteIdRr,jdbcType=LONGVARCHAR},
      main_instruction = #{mainInstruction,jdbcType=LONGVARCHAR},
      other_instructions = #{otherInstructions,jdbcType=LONGVARCHAR},
      best_time = #{bestTime,jdbcType=LONGVARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tzq.model.ecsUsers">
    update ecs_users
    set vip = #{vip,jdbcType=VARCHAR},
      lx = #{lx,jdbcType=INTEGER},
      idcard = #{idcard,jdbcType=VARCHAR},
      grad_school = #{gradSchool,jdbcType=VARCHAR},
      entry_year = #{entryYear,jdbcType=VARCHAR},
      teacher = #{teacher,jdbcType=VARCHAR},
      resident_province = #{residentProvince,jdbcType=VARCHAR},
      country = #{country,jdbcType=SMALLINT},
      resident_county = #{residentCounty,jdbcType=VARCHAR},
      resident_city = #{residentCity,jdbcType=VARCHAR},
      languages = #{languages,jdbcType=VARCHAR},
      fee_xl = #{feeXl,jdbcType=DECIMAL},
      fee_fdfy = #{feeFdfy,jdbcType=DECIMAL},
      certificate = #{certificate,jdbcType=VARCHAR},
      personal_style = #{personalStyle,jdbcType=VARCHAR},
      handsome_photo = #{handsomePhoto,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      question = #{question,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      user_money = #{userMoney,jdbcType=DECIMAL},
      frozen_money = #{frozenMoney,jdbcType=DECIMAL},
      pay_points = #{payPoints,jdbcType=INTEGER},
      rank_points = #{rankPoints,jdbcType=INTEGER},
      address_id = #{addressId,jdbcType=INTEGER},
      reg_time = #{regTime,jdbcType=INTEGER},
      last_login = #{lastLogin,jdbcType=INTEGER},
      last_time = #{lastTime,jdbcType=INTEGER},
      last_ip = #{lastIp,jdbcType=VARCHAR},
      new_last_ip = #{newLastIp,jdbcType=VARCHAR},
      old_last_ip = #{oldLastIp,jdbcType=VARCHAR},
      visit_count = #{visitCount,jdbcType=SMALLINT},
      user_rank = #{userRank,jdbcType=TINYINT},
      is_special = #{isSpecial,jdbcType=TINYINT},
      ec_salt = #{ecSalt,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      flag = #{flag,jdbcType=TINYINT},
      alias = #{alias,jdbcType=VARCHAR},
      msn = #{msn,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      office_phone = #{officePhone,jdbcType=VARCHAR},
      home_phone = #{homePhone,jdbcType=VARCHAR},
      mobile_phone = #{mobilePhone,jdbcType=VARCHAR},
      is_validated = #{isValidated,jdbcType=TINYINT},
      credit_line = #{creditLine,jdbcType=DECIMAL},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_short_name = #{companyShortName,jdbcType=VARCHAR},
      registered_province = #{registeredProvince,jdbcType=VARCHAR},
      registered_county = #{registeredCounty,jdbcType=VARCHAR},
      registered_city = #{registeredCity,jdbcType=VARCHAR},
      postal_address = #{postalAddress,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      keywords1 = #{keywords1,jdbcType=VARCHAR},
      star = #{star,jdbcType=VARCHAR},
      maximum_occupancy = #{maximumOccupancy,jdbcType=VARCHAR},
      kedaodajingqu_30m = #{kedaodajingqu30m,jdbcType=VARCHAR},
      maximum_meeting = #{maximumMeeting,jdbcType=VARCHAR},
      maximum_restaurant = #{maximumRestaurant,jdbcType=VARCHAR},
      business_licence = #{businessLicence,jdbcType=VARCHAR},
      photography_expenses = #{photographyExpenses,jdbcType=VARCHAR},
      On_display = #{onDisplay,jdbcType=VARCHAR},
      camera_cost = #{cameraCost,jdbcType=VARCHAR},
      contacter = #{contacter,jdbcType=VARCHAR},
      call1 = #{call1,jdbcType=VARCHAR},
      passwd_question = #{passwdQuestion,jdbcType=VARCHAR},
      passwd_answer = #{passwdAnswer,jdbcType=VARCHAR},
      wxid = #{wxid,jdbcType=CHAR},
      wxch_bd = #{wxchBd,jdbcType=CHAR},
      photo = #{photo,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      null_pwd = #{nullPwd,jdbcType=INTEGER},
      shipping_id = #{shippingId,jdbcType=INTEGER},
      user_sign_qiandao = #{userSignQiandao,jdbcType=INTEGER},
      edit_name = #{editName,jdbcType=INTEGER},
      back_id = #{backId,jdbcType=INTEGER},
      second_pass = #{secondPass,jdbcType=CHAR},
      user_nav_act = #{userNavAct,jdbcType=VARCHAR},
      start_password = #{startPassword,jdbcType=VARCHAR},
      froms = #{froms,jdbcType=VARCHAR},
      z_name = #{zName,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
</mapper>